<h1 class="client-form-head">Create new customer</h1>
<form (ngSubmit)="createClient()" #clientForm="ngForm" class="client-form">
    <div class="form-group">
      <label for="name">Company name</label>
      <input id="name" type="text" [(ngModel)]="client().name" name="name" required class="form-control" />
    </div>
  
    <div class="form-group">
      <label for="contactPerson">Contact person</label>
      <input id="contactPerson" type="text" [(ngModel)]="client().contactPerson" name="contactPerson" required class="form-control" />
    </div>
  
    <div class="form-group">
      <label for="address.city">City</label>
      <input id="address.city" type="text" [(ngModel)]="client().address.city" name="address.city" required class="form-control" />
    </div>
  
    <div class="form-group">
      <label for="address.street">Street</label>
      <input id="address.street" type="text" [(ngModel)]="client().address.street" name="address.street" required class="form-control" />
    </div>
  
    <div class="form-group">
      <label for="phone">Phone</label>
      <input id="phone" type="tel" [(ngModel)]="client().phone" name="phone" required class="form-control" />
    </div>
  
    <button type="submit" [disabled]="clientForm.invalid" class="btn btn-primary">Create client item</button>
</form>
  